.section {
    width: 100%;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;
}

.col-3 {
    width: 33%;
    display: inline-block;
}

.col-6 {
    /* make this class display element with 50% width. */
}